h1 {
    font-family: Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("../images/image1.jpeg");
}   

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

p {
    font-family: Helvetica, sans-serif;
}

p span {
    color: blue;
    font-weight: bold;
}

#brush {
    background-color: mediumspringgreen;
}

#frame {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}
